body {
    text-align: center;
    background-color: lightyellow;
    font-family: cursive;
}

table {
    margin: auto;
}

.reserve {
    background-color: lightblue;
    border-radius: 9px;
    height: 30px;
    width: 50px;
}