body {
    margin-top: 20%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    background-color: lightyellow;
}

input {
    font-size: 45px;
    background-color: aquamarine;
    border-radius: 10%;
    font-family: cursive;
    width: 400px;
    height: 80px;
}
