body {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    background-color: lightyellow;
    font-family: cursive;
}

.lineSituationTable {
    font-size: larger;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.mark {
    color: rgb(231, 19, 19);
}

h3 {}

input {
    font-size: large;
    font-family: cursive;
}