body {
    background-color: lightgoldenrodyellow;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    font-style: inherit;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 50px;
    font-style: inherit;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: center;
}

.loginTitle {
    font-size: 80px;
    text-align: center;
    font-family: cursive;
}

.name {
    height: 40px;
    width: 200px;
}

.loginPage {
    text-align: center;
}

.phonenumber {
    font-family: cursive;
    font-size: 30px;
}

.appPic {
    border-radius: 20%;
    height: 50px;
    width: 50px;
}

.identifyInput {}

.identifyPic {
    position: relative;
    left: 50px;
}

.username {
    font-family: cursive;
    font-size: 30px;
}

.password-agileits {}

.password {
    height: 40px;
    width: 200px;
    position: relative;
    left: 20px;
}

.rem-for-agile {
    font-size: 25px;
}

.login-w3 {}

.login {
    font-size: 30px;
    background-color: lightblue;
    border-radius: 9px;
    height: 50px;
    width: 120px;
}

.loginMethod {
    text-align: center;
}

.loginMethod img {
    height: 50px;
    border-radius: 100px;
}
